DATABASE_URL=
DIRECT_URL=
JWT_SECRET=
GEMINI_API_KEY=
ADMIN_SECRET=

# AbacatePay
ABACATEPAY_API_KEY=
ABACATEPAY_WEBHOOK_SECRET=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=

# Frontend
FRONTEND_URL=